


.block{

    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.title{
    font-size: 18px;
    color: black;
}

.container{
    color: #000!important;
    font-size: 12px;
    background-color: rgb(0, 129, 171);
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    gap: 5px;
    cursor: pointer;
    transition: .3s;
}
.container:hover{
    transition: .3s;
    scale: 0.9;
}
.container:active{
    transition: .3s;
    scale: 0.9;
}

.container svg{
    font-size: 20px;
}

.info{
    padding: 10px;
    color: #000;
}

.rating{
    fill: gold;
}

.item-available{
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: green;
}
.item-unavailable{
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: rgb(128, 0, 0);
}

.price{
    font-size: 18px;
}

