.transaction-history {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: "Arial", sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .transaction-history thead {
    background-color: #009879;
    color: #ffffff;
  }
  
  .transaction-history th,
  .transaction-history td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
  }
  
  .transaction-history tr {
    background-color: #99e2ff;
  }
  .transaction-history tr:nth-child(even) {
    background-color: #88dbfb;
  }
  
  .transaction-history tr:hover {
    background-color: #54ceff;
  }
  
  .transaction-history th {
    font-size: 18px;
  }
  
  .transaction-history td {
    font-size: 16px;
  }
  