.todolist{
    background-color: rgb(19, 145, 255);
    padding: 15px;
    margin: 50px auto;
    display: flex;
    width: 500px;
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 1px 2px 15px rgb(19, 145, 255) ;
    gap: 5px;
}

.task{
    background-color: aliceblue;
}

.inputTask{
    background-color: transparent;
    padding: 10px;
    border-bottom: 2px solid #606060;
    margin-bottom: 3px;
    width: 100%;
    color: white;

}
.inputTask::placeholder{
    color: white;
}

.btnCreateTask{
    background-color: rgb(0, 135, 85);
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    box-sizing: border-box;
}

.inputBox{
    width: 100%;
    gap: 15px;
    display: flex;
    flex-direction: row;
}
.task{
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 7px;
    border-radius: 10px;
    align-items: center;
}
.taskRemove{
    background-color: rgb(255, 66, 66);
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    box-sizing: border-box;
}

.tasks{
    display: flex;
    flex-direction: column;
    gap: 10px;  
}
