*{  
  padding: 0;  
  margin: 0;  
  border: 0;  
  text-decoration: none;  
 }  
   
 :focus,:active{outline: none;}  
 a:focus,a:active{outline: none;}  
   
 nav,footer,header,aside{display: block;}  
   
 :root{  
  --boss: rgb(160, 160, 160);  
  --colors: rgb(210, 198, 198);  
 }   
   
 input,button,textarea{font-family:inherit;}  
   
 input::-ms-clear{display: none;}  
 button{cursor: pointer;}  
 button::-moz-focus-inner {padding:0;border:0;}  
 a, a:visited{text-decoration: none;}  
 a:hover{text-decoration: none;}  
 ul li{list-style: none;}  
 img{vertical-align: top;}  
   
 h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}  
   
 html{  
  scroll-behavior: smooth;  
 }

 body{
  background-color: #181E25;
 }


header{
  padding: 5px;
  margin: 11px 0;
}

.hero{
}


.header-logoName{
  font-family: Arial;
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0px;
  margin-left: 20px;
  font-weight: 700;

}

.title{
  color: aliceblue;
  margin: 40px 0;
  margin-left: 20px;
  font-family: Arial;
font-size: 72px;
font-weight: 700;
line-height: 83px;
letter-spacing: 0px;
text-align: left;
}
.React-txt{
  color: #62D8EF;
}


.images-block{
  display: flex;
  padding: 20px;
  justify-content: center;
  gap: 20px;
}
.FrontEndImg{
  border-radius: 50px;
  width: 380px;
  height: 400px;
  object-fit: cover;
  
}
.SoftDevelopmentImg{
  border-radius: 50px;
  width: 380px;
  height: 400px;
  object-fit: cover;
  
}
.ReactImg{
  border-radius: 50px;
  width: 680px;
  height: 400px;
  object-fit: cover;
  
}

.project-block{
  color: #fff;
  width: 400px;
  height: 100px;
}

.project-block__controls{
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}

.projects-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}
.project-name{
  width: 250px;
  border-radius: 40px;
  padding: 15px;
  background: rgb(1, 80, 255);
  text-align: center;
}
.project-link{
  text-align: center;
  width: 50px;
  border-radius: 40px;
  padding: 15px;
  color: white;
background: rgb(0, 145, 255);
}